body{
  height:100%;
  background-image: url(../../assets/img/backgImg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}

.wrapper{
  margin:0 auto;
  width:70%;
  height: 100%;
}

h1{
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
  padding-top: 224px;
}

h2{
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  padding-top: 32px;
}

.images, .imagesOnHover{
  margin:64px auto 0 auto;
  width:70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.images{
  position: relative;
  top: -283px;
}

#userimg:hover{
  opacity:1%;
}

#ownerimg:hover{
  opacity:1%
}



