<body>
  <div class="wrapper">
    <h1>Welcome to eRezervacija</h1>
    <h2>Login as</h2>
    <div class="imagesOnHover">
      <img src="./assets/img/userGuest.png" alt="#" id="guest">
      <a routerLink="putanja-prijavaVlasnik"><img src="./assets/img/userHotel.png" alt="#" id="hotel"></a>
    </div>
    <div class="images">
      <img src="./assets/img/user.png" alt="#" id="userimg">
      <a routerLink="putanja-prijavaVlasnik"><img src="./assets/img/owner.png" alt="#" id="ownerimg"></a>
    </div>
  </div>
</body>
